<!DOCTYPE html>
<html>
<head>

    <title>Marine Litter Map</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>


    <style>
        #map {
            height: 90vh;
        }
    </style>
</head>
<body>

<h2>Marine Litter Monitoring</h2>
<div id="map"></div>

<script>
  const map = L.map("map").setView([-33, -70], 5);

  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: "© OpenStreetMap contributors",
  }).addTo(map);

  fetch("/litter/api/beaches/")
    .then(response => response.json())
    .then(data => {
      data.forEach(beach => {
        if (!beach.lat || !beach.lng) return;

        const canvasId = `chart-${beach.id}`;

        const popupContent1 = `
          <strong>${beach.name}</strong><br>
          <canvas id="${canvasId}" width="350" height="220"></canvas>
        `;

        const marker = L.marker([beach.lat, beach.lng]).addTo(map);
        marker.bindPopup(popupContent1);

        marker.on("popupopen", () => {
          // Espera a que el popup esté en el DOM
          setTimeout(() => {
            renderChart(canvasId, beach.litter);
          }, 50);
        });
      });
    })
    .catch(err => console.error("ERROR API:", err));
</script>

<script>
    function renderChart(canvasId, litterData) {
        const canvas = document.getElementById(canvasId);
        if (!canvas) return;

        const labels = litterData.map(i => i.litter_type__label);
        const values = litterData.map(i => i.total);

        new Chart(canvas, {
            type: "bar",
            data: {
            labels,
            datasets: [{
                data: values,
                backgroundColor: "#4e79a7"
            }]
            },
            options: {
            indexAxis: "y",
            responsive: false,
            maintainAspectRatio: false,
            animation: true,
            plugins: {
                legend: { display: false }
            },
            scales: {
                x: {
                beginAtZero: true,
                ticks: { precision: 0 }
                }
            }
            }
        });
        }



    </script>



</body>
</html>
